/******************************************************************
Site Name: Honey
Author: Vic Lobins

Stylesheet: Variables

******************************************************************/

/*********************
COLORS
Choosing your colors http://0to255.com/
*********************/

$alert-yellow:      #ebe16f;
$alert-red:         #fbe3e4;
$alert-green:       #e6efc2;
$alert-blue:        #d5edf8;

$black:             #000;
$white:             #fff;

$light-gray:        #dcdcdc;
$gray:              #8b8b8a;
$meta-gray:         #ccc;
$text-color:        $black;

$blue:				#0194dd;
$yellow:			#f7c400;
$green:				#0b6b4e;
$pale-green:		#bad3ca;

$link-color:        $black;
$link-hover:        $gray;

$border-color:      #ccc;
$disabled-gray:     #cfcfcf;
