/******************************************************************
Site Name: Honey
Author: Vic Lobins

Stylesheet: IE Stylesheet

Import all the styles the standard stylesheet gets, only
without the media queries.

******************************************************************/
/******************************************************************
IMPORTS & DEPENDENCIES
All the BASE styles are called already since IE can
read those. Below we import the stuff IE can't
understand (what's inside the media queries). We also need to
import the mixins file so SASS can understand the variables.
******************************************************************/
/******************************************************************
Site Name: Honey
Author: Vic Lobins

Stylesheet: Variables

******************************************************************/
/*********************
COLORS
Choosing your colors http://0to255.com/
*********************/
/******************************************************************
Site Name: Honey
Author: Vic Lobins

Stylesheet: Typography

******************************************************************/
/*********************
TYPEKIT
*********************/
@import url("https://use.typekit.net/jhw2cze.css");
/*********************
FONT FACE
*********************/
p {
  -ms-word-wrap: break-word;
  word-break: break-word;
  word-wrap: break-word; }

strong, b {
  font-weight: 600; }

/******************************************************************
Site Name: Honey
Author: Vic Lobins

Stylesheet: Mixins Stylesheet

Helpful:
http://sachagreif.com/useful-sass-mixins/
http://thesassway.com/intermediate/leveraging-sass-mixins-for-cleaner-code
http://web-design-weekly.com/blog/2013/05/12/handy-sass-mixins/

******************************************************************/
/*********************
TRANSITION
*********************/
/* @include transition(all 0.2s ease-in-out); */
/*********************
CSS3 GRADIENTS
*********************/
/* @include css-gradient(#dfdfdf,#f8f8f8); */
/*********************
BOX SIZING
*********************/
/* @include box-sizing(border-box); */
/******************************************************************
Site Name: Honey
Author: Vic Lobins

Stylesheet: IE Grid Styles

******************************************************************/
/******************************************************************
Site Name: Honey
Author: Vic Lobins

Stylesheet: 481px and Up Stylesheet

******************************************************************/
/*********************
GENERAL STYLES
*********************/
html {
  font-size: 81%; }

#content {
  padding-top: 62px; }

.featured-image img {
  width: 180%;
  left: -30%; }
  .page-sequentra .featured-image img {
    left: -60%; }

.team-carousel .carousel-item {
  width: 49%; }

/*********************
NAVIGATION STYLES
*********************/
/* .menu is clearfixed inside mixins.scss */
.menu {
  /* end .menu ul */ }
  .menu ul {
    /* end .menu ul li */
    /* highlight current page */
    /* end current highlighters */ }

/* end .menu */
/*********************
POSTS & CONTENT STYLES
*********************/
/* entry content */
.entry-content .alignleft, .entry-content img.alignleft {
  margin-right: 1.5em;
  display: inline;
  float: left; }
.entry-content .alignright, .entry-content img.alignright {
  margin-left: 1.5em;
  display: inline;
  float: right; }
.entry-content .aligncenter, .entry-content img.aligncenter {
  margin-right: auto;
  margin-left: auto;
  display: block;
  clear: both; }

/* end .entry-content */
/*********************
FOOTER STYLES
*********************/
/* end .footer-links */
/******************************************************************
Site Name: Honey
Author: Vic Lobins

Stylesheet: Tablet & Small Desktop Stylesheet

******************************************************************/
/*********************
GENERAL STYLES
*********************/
html {
  font-size: 80%; }

hr {
  width: 100%;
  margin: 2rem auto; }

#content {
  padding-top: 125px; }

.featured-image .page-title {
  width: 60%;
  height: 50%;
  overflow: visible;
  margin: auto 0;
  top: 0;
  bottom: 0;
  right: 0;
  left: 7%;
  text-align: left; }
  .featured-image .page-title h1 {
    font-size: 3.2rem;
    text-align: left; }
  .featured-image .page-title p {
    margin: 0.5rem 0 1.5rem; }
  .page-sequentra .featured-image .page-title {
    height: 70%;
    left: 35%; }
  .page-contact-us .featured-image .page-title {
    height: 59%; }
  .page-request-a-demo .featured-image .page-title {
    height: 27%; }
.featured-image img {
  width: 100% !important;
  height: auto;
  left: auto; }
  .page-sequentra .featured-image img {
    left: auto; }

.row.wrap {
  margin: 0.75rem auto 1rem; }
.row [class*="col-"] {
  padding: 2rem; }
.row .col-6:nth-child(odd) {
  padding-right: 2.85rem; }
.row .col-6:nth-child(even) {
  padding-left: 2.15rem; }
.row.grad-alt {
  display: block;
  text-align: left; }
  .row.grad-alt .icon, .row.grad-alt img[alt*="icon-"] {
    margin: 0 1rem 1rem; }
  .page-sequentra .row.grad-alt [class*="col-"] {
    min-height: 28rem; }
  .page-technology .row.grad-alt [class*="col-"] {
    min-height: 21rem; }

.team-carousel .carousel-item {
  width: 35%; }

.releases p {
  font-size: 1.8em; }
  .releases p.name {
    font-size: 1.3em; }

.cat-filter ul {
  display: inline-block;
  margin-left: 1.85rem; }

.single .wrap.post {
  max-width: 90%; }

.entry-content h2 {
  margin: 1rem 3rem; }

.blog .posts-main .col-4 {
  height: 20rem; }

/*********************
LAYOUT & GRID STYLES
*********************/
.wrap {
  width: 760px; }
  .wrap.insights-text {
    margin-left: auto; }

/*********************
HEADER STYLES
*********************/
.header {
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out; }
  .header.scrolled {
    opacity: 0.8; }

#logo {
  display: block;
  width: 240px;
  margin: 1.4rem 0;
  position: absolute;
  z-index: 10;
  left: 2rem;
  font-size: 0; }
  #logo img {
    max-width: 100%;
    height: auto; }
  #logo a {
    color: #000; }

#logo-mobile {
  display: none; }

/*********************
NAVIGATION STYLES
*********************/
.menu-button {
  display: none; }

.menu-wrapper {
  opacity: 1;
  visibility: visible;
  padding: 0;
  position: relative;
  overflow-y: hidden; }

nav li {
  text-align: left; }
  nav li a {
    font-size: 0.85rem; }

.nav {
  border: none;
  text-align: center;
  margin: 4.65em 0 1.5em;
  /* end .menu ul li */
  /* highlight current page */
  /* end current highlighters */ }
  .nav li {
    display: inline-block;
    position: relative;
    border: none;
    /* showing sub-menus */ }
    .nav li a {
      border-bottom: 0; }
      .nav li a:hover, .nav li a:focus {
        color: #8b8b8a; }
    .nav li ul.sub-menu,
    .nav li ul.children {
      /* highlight sub-menu current page */ }
      .nav li ul.sub-menu li,
      .nav li ul.children li {
        /*
        third level
        */ }
        .nav li ul.sub-menu li:last-child a,
        .nav li ul.children li:last-child a {
          border-bottom: 0; }
        .nav li ul.sub-menu li ul,
        .nav li ul.children li ul {
          top: 0;
          left: 100%; }
    .nav li:hover > ul {
      top: auto;
      visibility: visible; }

.socket-nav {
  position: absolute;
  right: 2rem;
  top: 0;
  margin: 1.4rem 0;
  padding-right: 2.5rem; }
  .socket-nav li {
    display: inline-block;
    margin-left: 0.85rem;
    margin-right: 0;
    font-size: 90%; }
    .socket-nav li a:hover, .socket-nav li a:focus {
      color: #8b8b8a; }
    .socket-nav li.green-btn {
      display: inline-block;
      max-width: none;
      margin: auto;
      margin-left: 0.85rem; }
    .socket-nav li.lang-item {
      display: block;
      position: absolute;
      right: 0;
      margin: 0; }
      .socket-nav li.lang-item a {
        display: block;
        font-size: 0; }
      .socket-nav li.lang-item img {
        width: 22px; }
    .socket-nav li.lang-item-en {
      top: 0; }
    .socket-nav li.lang-item-es {
      bottom: 0; }

/*********************
SIDEBARS & ASIDES
*********************/
.sidebar {
  margin-top: 2.2em; }

.widgettitle {
  border-bottom: 2px solid #444;
  margin-bottom: 0.75em; }

.widget {
  padding: 0 10px;
  margin: 2.2em 0; }
  .widget ul li {
    margin-bottom: 0.75em;
    /* deep nesting */ }
    .widget ul li ul {
      margin-top: 0.75em;
      padding-left: 1em; }

/*********************
FOOTER STYLES
*********************/
.pre-footer .col-6 {
  padding: 10px; }

.social {
  float: right;
  text-align: left; }
  .social a {
    margin: 0 0 0 3rem; }

.footer-links {
  float: left; }
  .footer-links ul {
    text-align: left; }
    .footer-links ul li a {
      margin: 0 3rem 0 0; }

/* end .footer-links */
.copyright {
  margin: 0;
  text-align: left; }

/******************************************************************
Site Name: Honey
Author: Vic Lobins

Stylesheet: Desktop Stylsheet

******************************************************************/
#content {
  padding-top: 74px; }

.wrap {
  width: 1020px; }

.featured-image .page-title {
  left: 20%;
  width: 40%; }
  .page-sequentra .featured-image .page-title {
    height: 50%;
    left: 40%; }
  .page-about-us .featured-image .page-title {
    height: 40%; }

.single .wrap.post {
  max-width: 70%; }

.nav {
  margin: 1.5em 0; }

.page-sequentra .row.grad-alt [class*="col-"], .page-technology .row.grad-alt [class*="col-"] {
  min-height: 17rem; }

/******************************************************************
ADDITIONAL IE FIXES
For more info on using Modernizr classes:
http://www.modernizr.com/docs/
******************************************************************/
/*
For example:

.no-textshadow .class { ... }

Can also target specific versions by using the classes applied to
the html element. Check header.php file to see what they are:

.lt-ie8 .class { ... }

*/
