/******************************************************************
Site Name: Honey
Author: Vic Lobins

Stylesheet: Desktop Stylsheet

******************************************************************/

#content {
	padding-top: 74px;
}

.wrap {
  width: 1020px;
}

.featured-image {
	.page-title {
		left: 20%;
		width: 40%;
		
		.page-sequentra & {
			height: 50%;
    		left: 40%;
		}
		
		.page-about-us & {
			height: 40%;
		}
	}
}

.single {
	.wrap.post {
		max-width: 70%;
	}
}

.nav {
	margin: 1.5em 0;
}

.row {
	&.grad-alt {
		[class*="col-"] {
			.page-sequentra &,
			.page-technology & {
				min-height: 17rem;
			}
		}
	}
}