/******************************************************************
Site Name: Honey
Author: Vic Lobins

Stylesheet: Super Large Monitor Stylesheet

******************************************************************/

html {
	font-size: 100%;
}

#content {
	padding-top: 86px;
}

.wrap {
  width: 1200px;
}

.nav {
    margin: 1.65em 0;
}

.featured-image {
	.page-title {
		.page-sequentra & {
			height: 60%;
			width: 50%;
		}
	}
}