/******************************************************************
Site Name: Honey
Author: Vic Lobins

Stylesheet: Tablet & Small Desktop Stylesheet

******************************************************************/


/*********************
GENERAL STYLES
*********************/

html {
	font-size: 80%;
}

body {}

hr {
	width: 100%;
	margin: 2rem auto;
}

#content {
	padding-top: 125px;
}

.featured-image {
	.page-title {
		width: 60%;
		height: 50%;
		overflow: auto;
		margin: auto 0;
		top: 0;
		bottom: 0;
		right: 0;
		left: 7%;
		text-align: left;

		h1 {
			font-size: 3.2rem;
			text-align: left;
		}

		p {
			margin: 0.5rem 0 1.5rem;
		}
		
		.page-sequentra & {
			height: 70%;
    		left: 35%;
		}
		
		.page-contact-us & {
			height: 59%;
		}
		
		.page-request-a-demo & {
			height: 27%;
		}
	}

	img {
		width: 100% !important;
		height: auto;
		left: auto;
	}
}

.row {
	&.wrap {
		margin: 0.75rem auto 1rem;
	}
	
	[class*="col-"] {
		padding: 2rem;
	}
	
	.col-6 {
		&:nth-child(odd) {
			padding-right: 2.85rem;
		}
		
		&:nth-child(even) {
			padding-left: 2.15rem;
		}
	}
	
	&.grad-alt {
		display: block;
		text-align: left;
		
		.icon, img[alt*="icon-"] {
    		margin: 0 1rem 1rem;
		}
		
		[class*="col-"] {
			.page-sequentra & {
				min-height: 28rem;
			}
			.page-technology & {
				min-height: 21rem;
			}
		}
	}
}

.team-carousel {
	.carousel-item {
//		padding: 2.5rem 3.5rem 0;
	}
}

.cat-filter {
	ul {
		display: inline-block;
		margin-left: 1.85rem;
	}
}

.single {
	.wrap.post {
		max-width: 90%;
	}
}

.entry-content {
	h2 {
		margin: 1rem 3rem;
	}
}

.blog {
	.posts-main {
		.col-4 {
			height: 20rem;
		}
	}
}


/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
	width: 760px;
	
	&.insights-text {
		margin-left: auto;
	}
}

/*********************
HEADER STYLES
*********************/

.header {
	@include transition(opacity 0.3s ease-in-out);
	
	&.scrolled {
		opacity: 0.8;
	}
}

#logo {
	display: block;
	width: 240px;
	margin: 1.4rem 0;
	position: absolute;
	z-index: 10;
	left: 2rem;
	font-size: 0;
	
	img {
		max-width: 100%;
		height: auto;
	}

	a {
		color: $black;
	}
}

#logo-mobile {
	display: none;
}

/*********************
NAVIGATION STYLES
*********************/

.menu-button {
	display: none;
}

.menu-wrapper {
	opacity: 1;
    visibility: visible;
    padding: 0;
    position: relative;
	overflow-y: hidden;
}

nav {
	li {
		text-align: left;
		
		a {
			font-size: 0.85rem;
		}
	}
}

.nav {
	border: none;
	text-align: center;
	margin: 4.65em 0 1.5em;
	
	li {
		display: inline-block;
		position: relative;
		border: none;

		a {
			border-bottom: 0;

			&:hover, &:focus {
				color: $link-hover;
			}
		}

		&:first-child {}
		&:last-child {}

		ul.sub-menu,
		ul.children {

			li {

				a {

					&:hover,
					&:focus {}

					&:link {}
				}

				&:first-child {}

				&:last-child {

					a {
						border-bottom: 0;
					}
				}

				/*
				third level
				*/
				ul {
					top:0;
					left:100%;
				}
			}

			/* highlight sub-menu current page */
			li.current-menu-item,
			li.current_page_item,
			li.current_page_ancestor {
				a {}
			}
		}

		/* showing sub-menus */
		&:hover > ul {
			top: auto;
			visibility:visible;
		}

	} /* end .menu ul li */

	/* highlight current page */
	li.current-menu-item,
	li.current_page_item,
	li.current_page_ancestor {
		a {}
	}  /* end current highlighters */

}

.socket-nav {
	position: absolute;
	right: 2rem;
	top: 0;
	margin: 1.4rem 0;
	padding-right: 2.5rem;
	
	li {
		display: inline-block;
		margin-left: 0.85rem;
		margin-right: 0;
		font-size: 90%;
		
		a {
			&:hover, &:focus {
				color: $link-hover;
			}
		}
		
		&.green-btn {
			display: inline-block;
			max-width: none;
			margin: auto;
			margin-left: 0.85rem;
		}
		
		&.lang-item {
			display: block;
			position: absolute;
			right: 0;
			margin: 0;
			
			a {
				display: block;
				font-size: 0;
			}
			
			img {
				width: 22px;
			}
		}
		
		&.lang-item-en {
			top: 0;
		}
		
		&.lang-item-es {
			bottom: 0;
		}
	}
}

/*********************
SIDEBARS & ASIDES
*********************/

.sidebar {
	margin-top: 2.2em;
}

	.widgettitle {
		border-bottom: 2px solid #444;
		margin-bottom: 0.75em;
	}

	.widget {
		padding: 0 10px;
		margin: 2.2em 0;

		ul {
			li {
				margin-bottom: 0.75em;

				&:first-child {}
				&:last-child {}
				a {}
				/* deep nesting */

				ul {
					margin-top: 0.75em;
					padding-left: 1em;
				}
			}
		}
	}


/*********************
FOOTER STYLES
*********************/

.pre-footer {
	.col-6 {
		padding: 10px;
	}
}

.social {
	float: right;
	text-align: left;
	
	a {
		margin: 0 0 0 3rem;
	}
}

.footer-links {
	float: left;
	
	ul {
		text-align: left;
		
		li {
			a {
				margin: 0 3rem 0 0;
				
				&:hover {}
			}
			
			ul {}
		}
	}
} /* end .footer-links */

.copyright {
	margin: 0;
	text-align: left;
}